#container {
    height: 300px;
    width: 450px;
    background-color: beige;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    height: 100px;
    width: 100px;
    background-color: #e3bb75;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    font-size: 35px;
}
/* .box1 {
    height: 80px;
    width: 80px;
    background-color: rgb(179, 136, 82);
    text-align: end;
} */
.border {
    border: 2px solid black; 
}

.border:hover {
    border: 2px solid greenyellow;
    background-color: brown;
    color: white;
    transition-duration: 1s;
}
